
.ribbon {
  width: 100%;
  height: 40vh;  
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
          line-height: 20px;
}

.ribbon.ribbon-danger{
    background-color: #d32f2f;
}

.ribbon.ribbon-primary{
    background-color: #428BCA;
}

.ribbon.ribbon-warning{
    background-color: #F89406;
}
.main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header .mdl-layout__header-row {
  padding-left: 40px;
}

.container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.content {
  border-radius: 2px;
  padding: 46px 56px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.layout.is-small-screen .content {
  padding: 40px 28px;
}

.content h3 {
  margin-top: 20px;
}

.footer {
  padding-left: 40px;
}

.footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

#view-source { 
    position: fixed;          
    display: block;          
    right: 0;          
    bottom: 0;          
    margin-right: 40px;          
    margin-bottom: 40px;          
    z-index: 900;  
}


.section__circle-container__circle {
  width: 22px;
  height: 22px;
  border-radius: 32px;

  
}
.dropdown-menu>li>a{
  color: #cc3300;
  background-color: #fff;
}

.dropdown-menu>li>a:focus { 
	background-color: #ececd1;
}

.dropdown-menu > li > a:hover  {
    color: #cc3300;
    background-color: #ececd1;
    background-image: none;
    font-weight: bold;
}

.navbar {
    margin-bottom: 10px !important;
}    