<!-- Footer -->

  <div class="container" >
  <div class="row">
    <br/>
    <div class="col-footer col-md-12 hidden-sm hidden-xs">
      <ul class="list-inline text-center" style='margin-bottom:0px' >
        <li >
          <div class="media-left media-middle">
            <a href="#">
            <img  class="media-object" style="height: 180px; width:225px;" src="images/nulaid.jpg">
            </a>
          </div>
       </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer-copyright">&copy; 2016 Nulaid Foods.</div>
    </div>
  </div>
  </div>  

<!-- End Footer -->