<!-- Blank Nav -->

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container" style="margin-left:5px" >
        <div class="navbar-header">
          <a class="navbar-brand"  href="#menu-toggle" style="padding:7px" id="menu-toggle"  ng-click="Toggle()" >
            <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
          </a>
        </div>
        <div class=" navbar-collapse collapse" id="navbar" style="width:1200px;">
          <ul class="nav navbar-nav "> </ul>
        </div>
      </div>
    </div>

<!-- Blank Nav -->    