<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand" >
      <a style="padding:7px" href="#menu-toggle-sidebar" id="menu-toggle-sidebar" ng-click="Toggle()"  >
        <svg  fill="#000000" height="48px" viewBox="0 0 24 24" width="48px" height="48px" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
      </a>
    </li>
    <!--<li class="sidebar-brand">
      <a href="index.html">
      Nulaid Foods
      </a>
    </li>-->
    <li>
      <a href="index.html">Breaker</a>
    </li>
    <!-- <li>
      <a href="assets">Assets</a>
    </li>-->
    <li>
      
    </li>
  </ul>
</div>
<!-- /#sidebar -->