<!DOCTYPE html>
<html lang="en"  ng-app="myApp"  ng-controller="AssetsController">
  <head   >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nulaid Foods</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <style>

    
    </style>
  </head>
  <body >
  
    <span ng-bind-html="NavBar" compile-template>   </span>

    
    <div id="wrapper" class="toggled">

    <span ng-bind-html="SideBar" compile-template>    </span>
      
      
      <!-- Ribbon -->
      <div class="ribbon ribbon-primary" >
        <!-- Page Content -->
        <div id="page-content-wrapper">
         
          <!--row-->		
          <div class="row" >
            <div class="col-lg-2">                
            </div>
            
            <div class="col-lg-8">
              <div class="panel panel-body text-center ">
                <h1 class="text-warning">Nulaid IT Asset Tracking</h1>
              </div>
            </div>
            
            
            <div class="col-lg-2">                              </div>
          </div>
          <!-- row -->              
          
            <!--row-->		
            <div class="row" >
              <div class="col-lg-2">       </div>
              <!-- col 8 -->
                <div class="col-lg-8">
                <!-- panel -->
                <div class="panel panel-default">
                
                  <!-- heading -->
                  <div class="panel-heading">                                  
                        
                  </div>
                  <!-- heading -->
                  
                  <!-- body -->
                  <div class="panel-body">
                  
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="assetSelector" >
                          Select an Asset Type<span class="caret"></span>
                      </button>
                       <ul class="dropdown-menu" >
                       <li ng-repeat-start="type in Types" >
                       
                            <a ng-click="Selection(type.ID,type.TXT)" href="#"  >
                                {{ type.TXT}}  
                            </a>
                            
                        </li>      
                        <li ng-repeat-end role="separator" class="divider"></li>
                    </ul>
                    </div>   <p></p>                            
                    <ul class="list-group" >
                      
                          <!-- Table -->
                          <table id="assetTable" class="table table-striped table-bordered ">
                           <tbody>
                            <tr> <th>AID</th> <th>In USE</th> <th>Damaged</th> <th>User</th> <th>Location</th> <th>Company</th> </tr>
                           
                                <tr ng-repeat="row in Table" class="clickable-row" ng-click="selectedRow(row.AID)">
                                    <td>{{row.AID}}</td>
                                    <td ng-if="row.INUSE == 'True'"><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
                                    <td ng-if="row.INUSE == 'False'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></td>
                                    <td ng-if="row.DAMAGED == 'True'"><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
                                    <td ng-if="row.DAMAGED == 'False'"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></td>                                                                       
                                    <td>{{row.USER}}</td>
                                    <td>{{row.LOC}}</td>
                                    <td>{{row.COMPANY}}</td>
                                </tr>
                           </tbody>
                          </table>
                          <!-- Table -->
                      
                    </ul>
                  </div> 
                  <!-- body -->
                  
                  
                </div>
                <!-- panel -->
                
              </div>
              <!-- 8 col -->
              
              <div class="col-lg-2">   </div>
              <div class="col-lg-2">   </div>
              <div class="col-lg-2">   </div>
            </div>
            <!-- row -->  
        
                                   
        </div>
        <!-- Page Content -->
      </div>
      <!-- Ribbon -->
    </div>
    <!-- /#wrapper -->
	
    <!-- jQuery -->
    <script src="js/jq.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>     
    <script src="js/assets.js"></script>

  </body>
</html>