﻿<!DOCTYPE html>
<html lang="en"  ng-app="myApp"  ng-controller="BreakerController">
  <head  ng-app="myApp"  >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nulaid Foods</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/chartist.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
  </head>
  <body >

 <span ng-bind-html="NavBar" compile-template>

  </span>

  
  <div id="wrapper" >

  <span ng-bind-html="SideBar" compile-template>

  </span>
    
      
      
      
      <!-- Ribbon -->
      <div class="ribbon ribbon-{{colorState}}" >
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <!--container -->
          <div class="container-fluid">
          
            <!--row-->		
          <div class="row" id="downtime">
            <div class="col-lg-2">                
            </div>
            
            <div class="col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="text-{{colorState}}">Downtime Reasons {{Timer}}</h2>
                </div>
                <div class="panel-body">
                  <ul class="list-group" ng-repeat="reason in Downtime" ng-cloak>
                    <li class="list-group-item list-group-item-{{colorState}}">
                     <h2> {{reason}} </h2>
                    </li>
                  </ul>
                </div>                  
              </div>
            </div>
            
            
            <div class="col-lg-2">                              </div>
          </div>
          <!-- row -->              
          
          <!--row-->
            <div class="row">
              <div class="col-lg-2">                
              </div>
              <div class="col-lg-8">
                <div class="panel panel-default">
                  <div class="panel-heading"><h2 class="text-{{colorState}}">Fed Vs Wasted Eggs By Row</h2></div>
                  <div class="panel-body" id="wasteParent">
                    <div style="height:250px" class="ct-bar " id="wasteChart"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">                
              </div>
            </div>
            <!--row-->
            
            <div class="row" >
              <div class="col-lg-2">                
              </div>
              <div class="col-lg-8">
                <div class="panel panel-default">
                  <div class="panel-heading"><h2 class="text-{{colorState}}">Average Machine Speed Last 30 min</h2></div>
                  <div class="panel-body" >
                    <div style="height:250px"  class="ct-line" id="speedChart"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">                
              </div>
            </div>
            <!--row-->
                        
            <!--row-->		
            <div class="row">
              <div class="col-lg-2">                
              </div>
              
              <div class="col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="text-{{colorState}}">Counts</h2>
                  </div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-{{colorState}}">
                       <h2> Waste = {{Metric.waste}} </h2>
                      </li>
                      <li class="list-group-item list-group-item-{{colorState}}">
                        <h2> Infeed = {{Metric.infeed}} </h2>
                      </li>
                      <li class="list-group-item list-group-item-{{colorState}}">
                        <h2> Outfeed = {{Metric.outfeed}} </h2>
                      </li>
                    </ul>
                  </div>                  
                </div>
              </div>
              
              <div class="col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="text-{{colorState}}">Times</h2>
                  </div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-{{colorState}}">
                       <h2> Run Time = {{Metric.runtime}} minutes</h2>
                      </li>
                      <li class="list-group-item list-group-item-{{colorState}}">
                        <h2> Downtime = {{Metric.downtime}} minutes</h2>
                      </li>
                      <li class="list-group-item list-group-item-{{colorState}}">
                        <h2> CIP = {{Metric.cip}} minutes</h2>
                      </li>
                    </ul>
                  </div>                  
                </div>
              </div>              
              <div class="col-lg-2">                              </div>
            </div>
            <!-- row -->                   
            
          </div>
          <!--container -->
        </div>
        <!-- Page Content -->
      </div>
      <!-- Ribbon -->
    </div>
    <!-- /#wrapper -->
	
    <!-- jQuery -->
    <script src="js/jq.js"></script>
    <script src="js/bootstrap.js"></script>     
    <script src="js/angular.js"></script>
    <script src="js/chartist.js"></script>         
    <script src="js/app.js"></script>
    <script src="js/breaker.js"></script>
    <!-- Menu Toggle Script -->
  </body>
</html>